body{
    background-image: url(images/background.jpg);
}
.container{
    background-color: aliceblue;
    margin-left: 30%;
    margin-right:30% ;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    flex-direction: column;
}
    
}
.para{
    text-align: center;
}
